[2015-08-31 02:21] sitag opened #1 "Signal for WGBS doesn't have a natural meaning"
"Signal" for WGBS doesn't have a natural meaning. To the uninitiated signal should give information about the methylation, but here we are using signal to mean coverage. The spec should be change to reflect it's coverage. So I have issued cpg coverage as track type in example hubs.

Internally we had a discussion on showing coverage track for WGS and there's an issue where possibly SNPs could be i

[2015-08-31 04:50] sitag opened #2 "RNA-Seq required track spec"
The whole mRNA total RNA thing is still not settled with the metadata working group. So the example json hub is completely up in the air. Also, right now the required tracks for RNA are set to coverage, which from visual exploration is not really useful, and we don't generate that track, so I have used the rpkm tracks that we do have. The only thing that will change if we go ahead with coverage tr

[2015-08-31 22:29] sitag opened #3 "'format' key not required under 'browser'"
With respect to https://github.com/IHEC/ihec-ecosystems/blob/master/JSON_Data_Hub_Validator/example1.json

I believe we had this discussion before. The 'format' key is not required. Only a fixed format is supported for a track type, e.g. you cannot post bigwig data for 'peak_call' type.

You can put it in there but it will not be used.

[2015-09-01 00:23] dbujold commented on #3
Right. I'll fix this right away.

David

________________________________
From: sitag [notifications@github.com]
Sent: August 31, 2015 6:29 PM
To: IHEC/ihec-ecosystems
Subject: [ihec-ecosystems] 'format' key not required under 'browser' (#3)

With respect to https://github.com/IHEC/ihec-ecosystems/blob/master/JSON_Data_Hub_Validator/example1.json

I believe we had this discussion before. The 'form

[2015-09-01 01:16] #3 closed

[2015-09-01 01:21] dbujold commented on #2
Indeed we first need to come to a decision for this before finalizing the spec. Same for the WGB-seq coverage vs signal vs etc.

[2015-09-01 01:29] dbujold opened #4 "json_hub_informal_description.md > track properties"
Hi Sita, correct me if I'm mistaken, but I thought we said on the last call that "tag" wasn't necessary as it's only a shortened term for the track_type.

Also, I would suggest to leave the "strand" property always mandatory, and use "unstranded" when forward/reverse does not apply.

[2015-09-01 01:35] dbujold commented on #4
Also, do we want "description_url" to be mandatory? I can add it to the mandatory fields list, just that it's optional in the UCSC track hubs. Either way is fine for me.

[2015-09-01 04:22] sitag commented on #2
This https://github.com/IHEC/ihec-assay-standards/issues/1 addresses at least the RNA-Seq issue.

[2015-09-01 04:27] sitag commented on #4
You are correct... we need to strip out tag from required fields and include that in the settings hash.

I am not sure about 'description_url,' a fixed spec for analysis attributes that is detailed enough to reproduce the track will be very hard to define. Having a free form 'description_url' may be a nice escape hatch. Of course, we cannot enforce the level of detail on the description url, or if

[2015-09-01 13:04] dbujold commented on #4
Updated doc to remove "tag", and added description_url in the schema as an optional "uri" field.

[2015-09-01 13:04] #4 closed

[2015-12-10 06:04] sitag opened #5 "Update minimum_required_track_types.md to reflect last changes made."
Update https://github.com/IHEC/ihec-ecosystems/blob/master/minimum_required_track_types.md

[2015-12-21 23:35] sitag opened #6 "Proposal for handling multiple urls for a track type"
To support multiple track for a particular track type (for e.g. multiple peak calls), the following is the proposed change that is backward compatible and does not require the use of new attributes as previously suggested (like "primary_calls"). The proposal is to support both lists of urls and urls for the value "big_data_url" key.

That is, as in the example below, now

    metadata['datasets'][

[2016-02-08 05:31] #5 closed

[2016-02-08 05:32] sitag commented on #6
Updated: https://github.com/IHEC/ihec-ecosystems/commit/5bea664c47f8bf2417ebcab841c7b9f82fcffd64?diff=split

Update again as per new spec.

[2016-02-08 05:32] #6 closed

[2016-03-01 03:45] dbujold opened #7 "More general information and versioning of data hubs is needed"
Proposed solution is to add properties in the hub_description object. The properties are:
1. **"date" property (in ISO 8601 format):** Mandatory field as it's a good way to version a specific release, versus just putting the date in the filename.
2. **"description":** Optional free text field to describe the content of the hub.
3. **"description_url":** Optional URL to a web document describing th

[2016-03-01 03:48] dbujold opened #8 "Non-visualizable tracks for a dataset should be represented"
From Sita's email:

[2016-03-01 04:41] dbujold opened #9 "Add assay_type as an additional, more precise, experiment descriptor"
The JSON data hub already includes a proposed "assay_type" identifier, but this should be formalized in the metadata spec, in order to clearly define what goes in there. "assay_type" gives more fine-grained details about the nature of the experiment. For example, if experiment_type is DNA Methylation, then assay_type might be Bisulfite-Seq or 450K or others. What goes in here should be formalized

[2016-03-01 04:51] dbujold opened #10 "Uniformize track type identifiers"
Strand-specific tracks labelling. Either:
- positive/negative (as in "signal_positive" or "signal_positive_strand")
- forward/reverse (as in "signal_forward")

Unstranded tracks labelling. Either:
- Include the word "unstranded". (as in "signal_unstranded", "rpkm_unstranded")
- Absence of strand specification implies it is unstranded. (as in "signal", "rpkm")

[2016-03-01 04:53] dbujold opened #11 "Formalize the way to generate bisulfite-seq methylation_profile"
From Sita:

[2016-03-01 14:34] #10 closed, assigned to nobody

[2016-03-01 14:34] #9 closed, assigned to nobody

[2016-03-01 14:35] #7 closed, assigned to nobody

[2016-03-01 14:35] #8 closed, assigned to nobody

[2016-03-31 02:32] sitag commented on #11
Proposal posted at https://github.com/IHEC/ihec-ecosystems/blob/master/Fractional_Methylation_Proposal.md

[2016-03-31 02:34] sitag commented on #2
I think this is now addressed by https://github.com/IHEC/ihec-ecosystems/blob/master/minimum_required_track_types.md , so we should close this.

[2017-09-15 20:05] romgrk opened #15 "Consider adding "format: date""
https://github.com/IHEC/ihec-ecosystems/blob/94aa560ed5ad60396b380546fa6f381ad11fddd0/JSON_Data_Hub_Validator/schema/hub.json#L28

[2017-09-15 20:08] romgrk opened #16 "Consider adding minimum lengths to required fields"
Currently, various fields are `required`. It is however possible to pass an empty string into a schema validator and the check is satisfied.

E.g.
https://github.com/IHEC/ihec-ecosystems/blob/94aa560ed5ad60396b380546fa6f381ad11fddd0/JSON_Data_Hub_Validator/schema/hub.json#L21

[2017-10-23 20:41] dbujold commented on #15
Change has been integrated.

[2017-10-23 20:41] #15 closed

[2017-10-23 20:55] dbujold commented on #16
Closing following outside discussion.

[2017-10-23 20:55] #16 closed

[2018-03-13 03:40] sitag opened #21 "validating without experiment_ontology_uri and experiment_type"
As discussed over email, with https://github.com/IHEC/ihec-ecosystems/blob/master/IHEC_Data_Hub/schema/experiment.json the first in https://github.com/IHEC/ihec-ecosystems/blob/version_metadata/version_metadata/examples/experiment.some_invalid.xml is validating but it shouldn't as it's missing both experiment_ontology_uri and experiment_type.

[2018-03-13 20:58] dbujold commented on #21
Fixed and committed to master.

[2018-03-13 20:58] #21 closed

[2018-11-29 04:44] sitag opened #25 "Add NOME-Seq to Chromatin Accessibility."
Add NOME-Seq to Chromatin Accessibility.

[2018-11-29 04:48] sitag commented on #25
Will need to revisit how validator looks at library_strategy...

[2019-02-25 19:34] jahilton opened #27 "Add Transcription Factor ChIP-seq options"
ChIP-seq experiments are currently restricted to 'ChIP Input' or 'ChIP Histone <target>'.
Here are suggested TF experiments to add to the list of options...
Transcription Factor CTCF
Transcription Factor POLR2A
Transcription Factor POLR2AphosphoS5
Transcription Factor EP300
Those are currently the only TF targets that ENCODE includes in Reference Epigenomes.

[2019-02-26 15:47] martinhirst commented on #27
For consistency it might make sense to define as “ChIP Transcription Factor”

For all and then specify “CTCF” in a separate field as is done for specific histone mods?

On Feb 25, 2019, at 11:34 AM, jahilton <notifications@github.com<mailto:notifications@github.com>> wrote:

ChIP-seq experiments are currently restricted to 'ChIP Input' or 'ChIP Histone '.
Here are suggested TF experiments to add t

[2019-02-26 17:35] jahilton commented on #27
My interpretation was that currently, all ChIP experiments were LIBRARY_STRATEGY:'ChIP-Seq', but the EXPERIMENT_TYPE distinguished Input or Histone AND the specific histone mod
https://github.com/IHEC/ihec-metadata/blob/master/specs/Ihec_metadata_specification.md#chip-seq

[2019-02-26 17:40] martinhirst commented on #27
ahh - sorry Jason.  Yes this would make sense then.

LIBRARY_STRATEGY:'ChIP-Seq’
EXPERIMENT_TYPE: ‘TF_target'

On Feb 26, 2019, at 9:35 AM, jahilton <notifications@github.com<mailto:notifications@github.com>> wrote:

My interpretation was that currently, all ChIP experiments were LIBRARY_STRATEGY:'ChIP-Seq', but the EXPERIMENT_TYPE distinguished Input or Histone AND the specific histone mod
https:

[2019-02-27 00:00] sitag commented on #27
@dbujold will you be implementing this. The spec right now has pattern: https://github.com/IHEC/ihec-ecosystems/blob/master/version_metadata/json_schema/experiment.json#L123
I am not sure how two patterns will be implemented (also that kind of defeats the purpose of controlled vocabulary, which we really should have here). Maybe you can provide a list of all histone mods you have seen and we can j

[2019-02-27 00:10] jahilton commented on #27
For reference, here's the histone mods from Roadmap & ENCODE
`
H2AFZ
H2AK5ac
H2AK9ac
H2BK120ac
H2BK12ac
H2BK15ac
H2BK20ac
H2BK5ac
H3F3A
H3K14ac
H3K18ac
H3K23ac
H3K23me2
H3K27ac
H3K27me3
H3K36me3
H3K4ac
H3K4me1
H3K4me2
H3K4me3
H3K56ac
H3K79me1
H3K79me2
H3K9ac
H3K9me1
H3K9me2
H3K9me3
H3T11ph
H4K12ac
H4K20me1
H4K5ac
H4K8ac
H4K91ac
`

[2019-02-27 14:43] makostadima commented on #27
No issue with the above suggestion from @jahilton from my side

Would you think that before we implement anything (either on the validator side or the metadata specs) should we bring it up on the next Ecosystems call?

[2019-02-27 18:57] sitag commented on #27
@makostadima We need to send these out to the mailing list. We should only schedule them for the call if there's an issue raised. Otherwise it doesn't make sense to wait for the monthly call before implementing things.

[2019-02-28 19:36] dbujold commented on #27
Hi all, I can make a pull request for this. But do we truly want to list all possibilities for both histones and TFBS? I mean, for instance, ENCODE focuses on a few TFBS as part of their reference epigenomes, but this list is very small compared to all possible experiments. Do we want to keep revisiting the spec every time we need to support a new TFBS?

[2019-02-28 23:53] sitag commented on #27
I have no problem against add a larger list of TFs. It would all need to get documented. Not sure how large you would want to go.

Also: I have noted on the metadata repo that it's frozen and new dev is at ecoystems.  I will copy the spec from metadata repo to ecosystems repo. Let include all this in candidate 1.1. spec under ecosystems repo.

[2019-03-01 10:26] mlist commented on #27
I'm also a bit sceptical about listing all TFs in the controlled vocabulary since it's quite many. Might be more reasonable to document this in a free textfield. However, should we decide to go that way I would recommend using the target genes listed in the chip atlas for the controlled vocabulary:

https://chip-atlas.org/target_genes

At least this way we will likely have very few updates to this

[2019-03-01 22:16] dbujold commented on #27
Maybe the right way could be to use existing ontologies to define TF and histone markers?

- SO seem to cover the histone marks that we have.
- ReTO (Regulation of Transcription Ontology) has a "gene" branch that might be usable? (although not sure how to express "POLR2AphosphoS5")...

[2019-04-12 16:54] jahilton commented on #27
@dbujold & I discussed this briefly last month in Banff, specifically about the possibility of using the ENCODE list of TFs/histones are the 'approved' list. ENCODE does not have any list of possible targets in our codebase, but only in our metadata.
https://www.encodeproject.org/search/?type=Target. For each target object, the label property would be the one to pull.

[2019-05-02 08:28] dzerbino commented on #27
Decision of phone call 2/4/19:
Short term decision: three fields with:
- Histones: empirical controlled vocab
- Gene name: HGNC symbol
- PTM: free text (for the moment)

I will start on a PR next week.

[2019-05-29 11:07] dzerbino opened #29 "Replicates"
**Problem:**
It is not always clear whether files can be merged.

**Consideration**
In theory, things under the same EGAX can be merged but that is not guaranteed. Conversely, some files with different EGAX’s could be mergeable.

**Proposal**
the centers need to indicate what merging strategies to use.
E.g. : epirr_id : {  experiment type : {'merge' : [list of runs] }  }
This change would be optio

[2019-05-29 11:08] dzerbino opened #30 "Describing modified (i.e. differentiated, activated, edited etc) cell line"
**Proposal**

- In the short term: free text
- Long term: discuss with HCA, then possibly GA4GH

Burak and Jason to elaborate on how 4DN and ENCODE have worked to capture this info in the metadata.
Perhaps a binary modified Yes/No field accompanied by a free text field would work.

[2019-05-29 19:52] #2 closed

[2019-05-29 19:57] sitag commented on #11
Updated link to proposal: https://github.com/IHEC/ihec-ecosystems/blob/99f7af0878bd56b4aba4b1c5a9910b70cf403fc0/docs/Fractional_Methylation_Proposal.md

[2019-05-30 05:55] dzerbino opened #31 "Using CURIE for ontology terms"
**Problem**
ontology-bound values are provided as an URI, however using CURIE would be more compatible with other large scale projects, more practical and less error-prone.

**Outcome**
This was voted on and accepted by the committee, this will be put in place for all future submissions.

[2019-05-30 08:00] sitag commented on #1
This is settled. "signal" is what is adopted.

[2019-05-30 08:00] #1 closed

[2019-05-30 08:14] sitag commented on #11
@dbujold Can you confirm that this is how IHEC datahubs are using?

[2019-05-30 16:44] dbujold commented on #11
Hi Sita, it is not being used. To my knowledge, no group has changed their practices on the level of data they release, and WGB-Seq is the assay with the most divergence across groups. If we want to use this, it should be part of the epiMAP reanalysis.

[2019-05-30 18:22] dzerbino commented on #11
So, is it fair to say that the ticket can be closed with respect to metadata spec update, and now needs to be enforced within EpiMap? Or do we need to extend the spec & validator in any way?

[2019-05-31 05:15] sitag commented on #11
this doesn't have anything to do with metadata spec. this part of track hub spec - hence in ecosystem. i think we should adopt whatever simon is generating as part of gembs pipeline, since that's what integrative analysis will do. not sure what all epimap needs, and if those needs are separate.

[2019-05-31 13:16] dzerbino commented on #11
Sounds like a plan

[2019-05-31 13:47] dzerbino commented on #25
Does this issue need any more action after PR #26 ?

[2019-05-31 17:36] dbujold commented on #11
EpiMAP will use the IHEC pipelines, so yes, including this in the GemBS pipeline will take care of EpiMAP as well.

[2019-06-04 13:10] #25 closed

[2019-06-10 14:08] dzerbino commented on #31
Email conversation:
There is no automated service to convert URIs into CURIEs, but we only use [6 ontologies](https://github.com/IHEC/ihec-metadata/blob/master/specs/Ihec_metadata_specification.md#ontologies) so we could roll our own converters.

[2019-07-11 14:41] dzerbino commented on #29
There are different types of files that can be merged in different ways:
- Read 1 vs 2 in read-pairs
- File broken up
- Technical replicates
- Biological replicates

How should we handle these? Do we allow technical/biological replicates within a single epigenome?

[2019-07-11 16:13] sitag commented on #29
I don't follow 0 read 1 and read 2 from same run not being in the same RUN object should not be allowed. They always go in the same object.

File broken up - not sure what you mean, This should also be flagged as invalid - the file is broken up, nothing we can do with that. Unless some other archive is allowing this.

We should only be addressing biological/technical replicates here.

[2019-08-22 15:53] dzerbino commented on #29
Following our phone call, we will indeed limit ourselves to technical and biological replicates.

I'll submit a PR shortly.

[2019-08-22 15:54] dzerbino commented on #31
Notes from phone call:
- this will only be required on future submissions
- the validator handles schema versions in theory but has yet to be tested

[2019-08-22 15:56] #30 closed

[2019-08-22 16:00] dzerbino opened #35 "User testing of submission process"
We observed discrepancies between the Markdown and JSON documents.

To avoid having to manually check discrepancies between these to documents we propose to test software to automatically generate the Markdown from the JSON.

The JSON would therefore become the master file.

@sitag kindly offered to test this approach.

[2019-08-22 16:03] dzerbino opened #36 "Cryptic validator reports"
Some of the validator reports are rather cryptic, mostly when testing multiple schemas and reporting all failures.

@dbujold is testing an improvement on the validator developed for the IHEC portal.

[2019-08-22 16:05] dzerbino commented on #27
@sitag rightly pointed out that we need to provide a way to validate HGNC identifiers.

I will liaise with the HGNC developers for a programmatic solution.

[2019-08-22 16:30] dzerbino commented on #27
HGNC offer APIs to determine whether a string is or was a valid HGNC symbol:
- Is it approved? http://rest.genenames.org/search/symbol/ELP1
- Was it approved? http://rest.genenames.org/search/prev_symbol/DYS

@sitag / @dbujold : would you be able to integrate this into the validator?

[2019-08-23 10:11] dzerbino opened #38 "Spec update SOP"
Preparing a PR, I realise there are a lot of unwritten tasks associated, we need to define an SOP.

[2019-08-23 10:23] dzerbino commented on #29
To be clear:
- biological replicate -> different EpiRR ids
- technical replicates -> all under one EpiRR

Is that the consensus?

[2019-08-23 10:36] dzerbino commented on #38
One question still in my mind is how exactly do we switch spec versions?

[2019-08-23 14:18] dbujold commented on #29
That is how I see it as well.

Thank you,

David

On 2019-08-23 6:23 a.m., Daniel Zerbino wrote:

To be clear:

  *   biological replicate -> different EpiRR ids
  *   technical replicates -> all under one EpiRR

Is that the consensus?

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub<https://github.com/IHEC/ihec-ecosystems/issues/

[2019-08-23 15:56] dbujold commented on #27
I could have it added to the IHEC Data Hub validator, if we think it's worth it.

[2019-08-28 07:07] dzerbino commented on #27
Could you please?

[2019-08-28 21:23] sitag commented on #27
@dzerbino @dbujold  so the idea is that we want to see what's in experiment_target_tf key and validate it against HGNC via the API if EXPERIMENT_TYPE == '‘TF_target' . So PTM are still free text and not validated?

[2019-08-28 21:29] sitag commented on #29
sounds rights. we need a field to indicate what belongs to which technical replicate in the epirr.
the merging starting also becomes relevant here. so this ties into a few things.
do we still want a field where we can reference biological replicates?

[2019-08-29 16:22] dzerbino commented on #29
@sitag : what you mean by 'what belongs to which technical replicate in the epirr'?

As I understand it, technical replicates are simply experiment objects of the same assay type linked to the sample sample. What subcomponents do we need to attach to them?

[2019-08-29 16:23] dzerbino commented on #27
Correct, as agreed on the May 2nd call, PTM is free text for the moment.

[2019-08-29 19:38] zxenia opened #42 "Validate EpiRR record if 'experiment_type' is not present"
Schema experiment.json requires 'experiment_type' or 'experiment_ontology_uri'. When validating EpiRR record 'experiment_type' is required for an error message.  Need to resolve it to a valid experiment type or to an experiment ontology uri / term.

[2019-08-30 09:04] dzerbino commented on #42
Hello @zxenia,

Thanks for raising this.

Just to be clear, does this require a fix in the validator? Could you deal with it?

Cheers,

Daniel

[2019-08-30 13:13] dbujold commented on #42
Hi Daniel, it will be difficult to validate a data hub with the EpiRR record when an experiment_ontology_uri is provided instead of an experiment_type. The problem is that there will be no way to make a match between the experiment in the data hub and the experiment in the EpiRR record. Perhaps a solution would be to require the experiment ID in the data hub to match the primary ID in the EpiRR re

[2019-08-30 13:47] dzerbino commented on #42
Sounds reasonable. Is this not the case already?

[2019-08-30 14:23] dbujold commented on #42
It's never been specified in a spec document, AFAIK. Some groups do that already but not all.

[2019-08-30 14:54] dzerbino commented on #42
Seems like a reasonable request.

[2019-08-30 18:16] sitag commented on #42
You will have problems here. There can be multiple primary ids in the epirr for an experiment, but only one track that represents it there (e.g. a merge). We can add that as a list of attributes but you cannot use that as the key, since it may not be unique.

As an aside, lets not couple an implementation details into the logic of the spec.  I agree through that mapping between experiments of the

[2019-08-30 18:19] sitag commented on #29
If a library is constructed twice, would that be a technical replicate?
It may have two separate experiment objects both pointing to same sample. So which experiment object represent the same replicate needs to be tagged. Or am I missing something here?

[2019-09-02 15:20] dzerbino opened #44 "Confusion between portal and XML schemas"

[2019-09-03 15:44] #44 closed

[2019-09-03 15:44] #38 closed

[2019-09-03 15:47] dzerbino commented on #42
Summary of phone call on 3/9/2019:

There is an issue of insufficient metadata in the portal JSON submission in the case of experiments with identical epigenome ID and assay type. This does not block the EpiMap analysis, but is annoying for the portal's traceability.

[2019-09-03 15:51] dzerbino opened #45 "Submission SOP"
We should have a clear submission SOP to both guide newcomers and help us pinpoint bottlenecks.

[2019-09-08 13:02] #45 closed

[2019-09-09 15:29] dbujold opened #47 "Ontology choice for biomaterial_type = "Primary Cell Culture""
Right now, we define the ontology for SAMPLE_ONTOLOGY_URI based on the value of BIOMATERIAL_TYPE. It goes as follow:

    Cell Lines: Experimental Factor Ontology (EFO - https://www.ebi.ac.uk/efo/)
    Primary Cells: Cell Ontology (CL - http://cellontology.org)
    Primary Tissue: Uberon (UBERON - http://uberon.org)

This doesn't cover "Primary Cell Culture". We have a submitter who's preparing a

[2019-09-13 15:17] sitag commented on #35
on it.

[2019-09-17 05:44] sitag opened #49 "ChIP-Input experiments not validating"
As per https://github.com/IHEC/ihec-ecosystems/blob/master/docs/metadata/1.0/Ihec_metadata_specification.md , things like

    <EXPERIMENT_ATTRIBUTE><TAG>CHIP_PROTOCOL</TAG><VALUE></VALUE></EXPERIMENT_ATTRIBUTE>

should validate. But when we parse this xml, the json gets None for "chip_protocol" and this fails against https://github.com/IHEC/ihec-ecosystems/blob/master/schemas/json/experiment.json

[2019-09-17 05:45] sitag commented on #49
@juettemann you might need to keep this in mind.

[2019-09-17 08:39] dzerbino commented on #47
Looking at an example in BLUEPRINT:
```http://purl.obolibrary.org/obo/CL_0001062;http://purl.obolibrary.org/obo/UBERON_0013756```
The CL URI points to `effector memory CD8-positive, alpha-beta T cell, terminally differentiated` while the UBERON URI points to `venous blood` (as opposed to cord blood). The second term thus enriches the first.

This would suggest that when we allow for URI/CURIE we s

[2019-09-17 16:57] dbujold commented on #47
I would rather support a list of terms, over concatenated terms... Otherwise we need to deal with separators.

[2019-09-17 16:59] dzerbino commented on #47
Good point

[2019-09-17 17:01] dbujold commented on #47
Is that supported by the EGA XMLs, though?

[2019-09-17 18:48] dzerbino commented on #47
The attributes in question are not in the EGA spec, only the IHEC supplementary schema, so this should not create issues, no?

[2019-09-17 23:28] sitag commented on #47
@dbujold  @dzerbino We can have repeated attributes in XML, these get parsed into lists in json.

[2019-09-18 12:49] dbujold commented on #47
Would these repeated attributes be supported by the EGA?

On 2019-09-17 7:28 p.m., sitag wrote:

@dbujold<https://github.com/dbujold> @dzerbino<https://github.com/dzerbino> We can have repeated attributes in XML, these get parsed into lists in json.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/IHEC/ihec-ecosystems/issues/4

[2019-09-18 14:09] dbujold commented on #47
@dzerbino It's in the supplementary, yes, but these are stored in the attribute list in the XML document submitted to EGA.

[2019-09-19 04:32] sitag commented on #47
@dbujold Pretty sure they are - recall that here gave been submissions with multiple sample ontologies attached in the past

[2019-09-19 04:35] sitag commented on #47
@dzerbino for exactly this reason we have reported things like:

...
<TAG>SAMPLEONTOLOGY_CURIE</TAG><VALUE>CL_0001062</VALUE>
<TAG>SAMPLEONTOLOGY_CURIE</TAG><VALUE>UBERON_0013756</VALUE>
...

@dbujold ...some care will be needed in handling this, depending on how xml is being parsed into json

[2019-09-19 04:36] sitag commented on #42
@dzerbino okay ..so what are we doing/who is doing it?

[2019-09-19 04:37] sitag commented on #11
closing.. will open when some progress is made.

[2019-09-19 04:37] #11 closed

[2019-09-19 04:39] sitag commented on #27
@zxenia @dzerbino what is happening here? i would like to see this in master before i use the library functions exposed to add nicer error messages to metadata validator

[2019-09-19 14:37] dzerbino commented on #47
To summarise: we are happy to replace simple CURIE strings with list of CURIEs, but we will have to keep an eye out during XML parsing.

Is this a fair summary?

[2019-09-19 14:40] dzerbino commented on #42
At the last call we did not have a clear solution forward.

To me the most straightforward solution would simply require the portal submission to contain both EpiRR IDs for epigenomes and external (e.g. EGA) IDs for each experiment.

[2019-09-19 14:43] dzerbino commented on #29
(Apologies for the slow response)

Because library construction is part of the protocol, I believe that two libraries constructed from the same sample are technical replicates of each other. Experiments of the same assay run on these libraries would be technical replicates of each other.

[2019-09-19 14:44] dzerbino commented on #27
If I am not mistaken, @zxenia has finished her PR and has requested review by @dbujold.

[2019-09-19 15:19] zxenia commented on #27
Hi, this was implemented in PR #41. It checks, first, if the HGNC symbol is valid and in case it's not, checks if it was valid (approved) before.

[2019-09-19 16:25] dzerbino commented on #47
Thinking more about @sitag 's last comment, if there is only one term provided, the XML parser would store it as a string, not as an array with only one element. Is anyone aware of a way to control this behaviour?

[2019-09-20 00:55] sitag commented on #47
@dzerbino We wrote the parser, so we can handle that. As an aside, right now we parse everything into a list then only keep the first when validating. So it would be nice if we can make them all lists. This is why following lines in the code exists.

https://github.com/IHEC/ihec-ecosystems/blob/7d23d314a12700e2ae981f4e28aa9a7ebe5c37ca/version_metadata/validate_sample.py#L11
https://github.com/IHEC

[2019-09-23 00:30] sitag commented on #35
@dzerbino @dbujold Here is example of what we get out when we try to auto generate the documenattion: https://github.com/IHEC/ihec-ecosystems/blob/doc_from_json_schema/generated/doc/sample.schema.json.md ...not sure it's where we can simply replace the manual doc with auto generated one But then it's also using draft 04 schema that is in the master.

[2019-09-23 20:45] dbujold commented on #42
That would work, I think.

[2019-09-24 08:09] sitag commented on #42
@dzerbino  @dbujold I am little confused how does this cross referencing solves the issue? Are you going to look up the experiment_id in epirr and pull experiment_type from there?
We could also just look up the uri and get the associated experiment.

We use the same schema for validating what goes into EpiRR. Why would you expect it to have experiment type there?

Is the issue just being able to t

[2019-09-25 04:00] dzerbino commented on #42
The problem we are trying to solve is that we can have technical replicates experiments that lead to multiple tracks on the portal but are indifferentiable using IHEC IDs and experiment type alone. Providing explicit EGAXs in the portal submission mean that the portal can a) provide the tracks with unique labels and b) give the user a modicum of traceability.

In other words, from the experiment t

[2019-09-25 04:01] dzerbino commented on #47
OK, making them lists.

[2019-09-25 05:57] sitag commented on #42
@dzerbino That was the discussion on the call which was very high level; I am note sure how it solves issue reported by @zxenia

Where in the spec will this identifiers go, and how will this be used in the validator?
Someone will need to pin this down so it can be implemented.

@zxenia @dbujold It would be nice if we follow https://stackoverflow.com/help/minimal-reproducible-example idea here... p

[2019-09-25 06:04] sitag commented on #27
@dzerbino @zxenia If there's nothing that further that needs to be discussed on this for next little bit, and wll the work has been subsumed in #41 , then can we log what we dd, what we are punting on and close this? We will reopen when needed.

[2019-09-25 21:35] zxenia commented on #42
Here I summarized the initial problem I encountered.

The schema for experiment states:

[code]

When running validator and 'experiment_type' is not present in example json, I get a KeyError:

[code]
Further in code `exp_name` is used for the error message:

IHEC_Data_Hub/validateHub.py:212
[code]
The default value for 'experiment_type' is not defined if it's not present (which is allowed by schem

[2019-09-25 21:49] sitag commented on #42
@zxenia @dbujold @dzerbino

I suppose `logging.getLogger().error('-Experiment "%s" could not be found in EpiRR record %s.' % (exp_name, epirr_id)` is where you wanted to match epirr to the datahub experiment?

I agree with @zxenia  and just fixing the error message.

The discussion about matching epirr to datahub is separate, and beyond the scope of this bug. It deserves it's own separate issue.

[2019-09-26 13:52] dbujold commented on #42
I'm ok to split this to another issue.

[2019-09-26 13:56] dzerbino commented on #35
Hello @sitag ,

Thanks for looking into this! Evidently the parser is struggling with the parallel definitions.

Indeed, it would seem that we should be using `$id`, is there any reason we are using `id` instead?

Do you think this worth solution worth investigating further?

Cheers,

Daniel

[2019-09-26 13:57] dzerbino commented on #27
I was thinking of closing the issues when #41 is pulled in, hopefully soon!

[2019-09-26 13:58] dbujold opened #50 "A way to make connection between a data hub and EpiRR record experiment is needed"
Currently, the data hub validator relies on an exact match between an EpiRR record experiment name and IHEC Data Hub name. This is problematic because
1- An EpiRR record can have more than one experiment of the same type
2- The name used to describre the experiment can be different between both sources
3- Experiment Type property will soon be an optional property, that can be replaced by an ontolo

[2019-09-26 13:58] dbujold commented on #42
Just created issue #50 .

[2019-09-26 17:19] sitag commented on #42
@zxenia your solution sounds great. please close this whenever it gets merged - we can do it with https://github.com/IHEC/ihec-ecosystems/pull/41

[2019-09-26 17:33] sitag commented on #27
@dzerbino sounds good. before closing, can you summarise if what all remains unresolved as yet? or is it all addressed?

[2019-09-27 08:30] dzerbino commented on #49
Hello  @sitag,

I'm not sure I agree with your reading of the spec. It says: `CHIP_PROTOCOL - The ChIP protocol used, or 'Input'.`.

As I understand it, the XML example you provided should not validate.

Cheers,

Daniel

[2019-09-27 10:49] dzerbino commented on #27
AFAIK:
- ChIP-Seq Targets are now correctly described in spec
- Spec will be correctly validated when #41 is pulled in

[2019-10-01 12:54] sitag commented on #49
@dzerbino Sorry, I meant nullable attributes like "CHIP_ANTIBODY"

[2019-10-03 19:44] yunhailuo opened #51 "Potential bug from #43"
We tried to use master branch to validate our potential EpiRR submission and got the following errors:

[code]

Looking into the code, I think the error is related to this line in `validate_json.py`:
https://github.com/IHEC/ihec-ecosystems/blob/168713a84fa025fcf347ff026500ab874fb0edf7/version_metadata/validate_json.py#L49

The directory structure for schemas has been changed in #43. It seems the `

[2019-10-04 06:02] dzerbino commented on #51
D'oh, that would be my fault!

Could you please PR?

[2019-10-04 16:16] yunhailuo commented on #51
@dzerbino Thanks for checking. PRed in #52

[2019-10-05 06:22] sitag commented on #51
@yunhailuo @yunhailuo merged.

[2019-10-05 06:22] #51 closed

[2019-11-05 23:20] sitag commented on #49
@dzerbino There was some discussion (with @dbujold ) about supporting lists for attributes and not strings, in which case a NA value is an empty list (?) ..are we moving forward with lists or staying with strings?

[2019-11-07 11:01] dzerbino opened #58 "Tracking over conversion control for WGBS experiments"
From 5/11/2019 call:
- Need attribute to track over conversion control spike-in added
- Need controlled vocabulary
- McGill, CRG +1

[2019-11-07 11:02] dzerbino opened #59 "Spec versioning SOP"
From 5/11/2019 call:
- No process defined yet
- Adding version of spec as attribute, as hub description
- Validator checks all versions
- Plan assign latest version compatible with

[2019-11-07 11:04] dzerbino commented on #49
Hello @sitag,

That's a good point:
- My proposes solution is only a short term solution for EpiMap
- The lists (due V1.1) would be the long term one, assuming that NA is indeed an empty list

Cheers,

Daniel

[2019-11-17 16:16] sitag commented on #49
submitted ["string", "null"] fix.
https://github.com/IHEC/ihec-ecosystems/pull/60/commits/15bf5ec2e39d41423894ea19e913ae6c77afb44f

[2019-11-29 02:22] dzerbino commented on #50
Result of Banff discussion: this issue would be resolved by unifying submissions into EpiRR and the IHEC Portal. Renaming issues.

[2019-11-29 02:24] dzerbino opened #61 "Outreach plan"

[2019-11-29 02:34] dzerbino commented on #35
As discussed in Banff, we need to seriously test everything about the submission process, and correct as we go along. Renaming issues.

[2019-11-29 02:36] dzerbino commented on #49
Can we close then?

[2019-11-29 02:46] dzerbino commented on #61
As discussed at Banff, we need a larger outreach strategy, renaming issue.

[2019-11-29 06:51] sitag commented on #49
sure ...assuming it looks good to you

[2019-11-29 07:05] sitag commented on #50
To document: the proposal is to cross reference all repeated metadata fields in datahub schema from the epirr registry.

[2019-11-29 13:12] #49 closed

[2020-01-07 15:08] juettemann opened #64 "Validator error report improvement: Missing experiment_ontology_uri & experiment_type"
Validator output:

[code]

The output of the validator should be more clear that only one property is needed, either experiment_ontology_uri or experiment_type

[2020-01-10 11:52] #31 closed

[2020-01-10 11:54] #29 closed

[2020-01-10 11:56] #27 closed

[2020-01-13 03:50] sitag commented on #64
These errors are coming from

       "allOf": [
        {"anyOf": [ ...

constructions used in the schema. Here this one - https://github.com/IHEC/ihec-ecosystems/blob/master/schemas/json/experiment.json#L19-L33

when any none of the schema under `"anyOf"` match, an error for each is generated. One way to solve this is to "de-normalize" the schema and make full separate schemas duplicating the ent

[2020-01-23 11:52] dzerbino commented on #50
Current pipeline:
![201710_IHEC_Ecosystem_MK](https://user-images.githubusercontent.com/33239/72982132-4ea5b600-3dd6-11ea-98ea-0a4226f0cadc.png)

Spec for EpiRR JSON: https://github.com/Ensembl/EpiRR/blob/master/README.md
Spec for Portal JSON: https://github.com/IHEC/ihec-ecosystems/tree/master/IHEC_Data_Hub

[2020-01-23 11:57] dzerbino commented on #50
Desired result: single JSON document submitted to EpiRR, then enriched with Portal links.

TODO:

- Define common spec
- Ensure validators still function properly
- Set up SOP
- Update documentation
- Test

[2020-01-23 12:57] dzerbino opened #65 "QC Flags"
Background:
One sample at CEMT had a QC flag (wrt mito content) but passed all other metrics. Because it is a rare sample, submitted to EGA. Many samples in IHEC do not pass QC but are not flagged (e.g. ChIP-Seq without Input)

Q: How do we submit sample with QC issues such that downstream users are aware of them?

Suggestion:

- Add QC free text flag.
- Add EpiRR flag
- EpiMap to review historica

[2020-02-03 16:12] #42 closed

[2020-02-20 10:14] dzerbino opened #71 "CURIE in V1.0?"
The transition from Ontology URI to CURIE was merged into both V1.0 and V1.1, is that intentional? This will demand some mokeying about from all submitters. Should we (can we?) only apply to V1.1?

[2020-02-20 10:30] dzerbino opened #72 "Sample attributes required?"
[2 years ago](https://github.com/IHEC/ihec-metadata/commit/6c0dfb383256280c614bdabfcc356bec2352017a) we added this statement to the spec:

This seems dubious. Should it not apply to submissions post 2018? Note that this change was not enforced in the JSON spec so this will catch people by surprise

[2020-02-20 10:33] dzerbino opened #73 "Molecule type"
[2 years ago](https://github.com/IHEC/ihec-metadata/commit/0beb7e648edfd06afc10fec96f3d5064a5968852) we added the following statement to the experiment spec:

Should this not apply to submissions post 2018?

[2020-02-20 15:33] dbujold commented on #71
I believe the original intent was to keep it for v1.1 only.

[2020-02-20 16:54] martinhirst commented on #71
Agreed CURIE is a v1.1 feature - we should not roll back to v1 with this.  For those that already have OK, but not required under v1.0

[2020-02-20 17:26] dzerbino commented on #71
OK, this sounds like a clear decision.

@zxenia can you confirm that your validator can handle both CURIES and URI, depending on the spec version?

[2020-02-20 17:36] zxenia commented on #71
@dzerbino Now ontology validation (PR #48) only can handle CURIE. It doesn't handle URI.
But it can be adapted to handle both.

[2020-02-21 01:55] sitag commented on #72
@dzerbino

No. This is indeed true. If this is not being reflected in the json spec then that's up to @dbujold . I went back and filled everything for the March 2018 data freeze.

[2020-02-21 01:56] sitag commented on #73
@dzerbino  post 1.0 everything is required, so this is implicit.

[2020-02-21 01:59] sitag commented on #71
@dzerbino / @zxenia curie applies to 1.1 and 1.0.
curie change was coming out at time when we had no concept of versioning, so whoever updated it, updated it in place. Then later 1.0 and 1.1 schemas were made.

[2020-02-21 09:02] dzerbino commented on #73
OK, can this now be rephrased to:

[2020-02-21 09:09] dzerbino commented on #72
Hello @sitag ,

Thanks for all the background you sent me by email. To summarise:

- In 2018, it was decided that all the sample fields at the time were required.
- you backfilled all the metadata

In conclusion, if we don't want to trigger a massive resubmission of 2018 data we should remove this statement and mark as required each attribute which was present in the spec in 2018. This would be un

[2020-02-21 10:53] dzerbino commented on #71
Yes, probably my fault, see PR #74

[2020-02-21 15:14] dbujold commented on #72
Yes, it makes sense to me, thanks.

[2020-02-21 17:07] martinhirst commented on #72
I agree with @dzerbino.

I assume then the spec prior to 2018 is V1 and current is V1.1.  This would make the distinction clear and the validation clean.

[2020-02-23 00:02] sitag commented on #65
implemented here: https://github.com/IHEC/ihec-ecosystems/blob/jan2020/schemas/json/1.1/experiment.json#L10

this will correspond to QC_FLAGS in xml. docs will need to be updated. please review as part of https://github.com/IHEC/ihec-ecosystems/pull/60

[2020-02-23 00:04] sitag commented on #72
@dzerbino in 2018, i updated all our metadata to be v1.0 compliant for samples and experiments. i believe myrto was following up on other centres updating to v1.0; you may need to review myrto's notes on that.

[2020-02-23 00:47] sitag commented on #64
prevalidation solves all this

[2020-02-24 09:53] #71 closed

[2020-02-24 09:56] dzerbino commented on #72
Hello @sitag , IIRC, the plan is that Myrto did follow up on the centres to update to v1.0, but because the validator reports were not entirely clear, this has not been completed, effectively, this is what we are doing now.

[2020-02-24 10:05] sitag commented on #72
@dzerbino i am certain that Myrto reached out to centres, but it's entirely possible that it was not finished. i believe @zxenia updated to validator were made a while back, so error messages should have been cleaned up since.

[2020-02-24 10:20] juettemann commented on #64
Agreed, it will solve it once done.

[2020-02-27 09:31] dzerbino opened #80 "Versioning SOP"
From Feb call:

[2020-03-02 03:25] sitag opened #82 "UMI ChIP support"
We need experiment metadata attributes to track UMI ChIP; to start the discussion, from our side we would like to propose:

* `UMI_ENABLED`: True/False value indicating if UMI is used

* `UMI_READ_STRUCTURE`: String to describe how to demultiplex reads; we can standardize by using string used by Picard tools to demultiplex describe the read structure; e.g.`3M2S146T` : 3 molecular barcode, 2 skip,

[2020-03-02 03:34] sitag commented on #82
Note there's a xml blob in sra for describing read, I am not sure it's sufficiently flexible for what we need, and seems more complicated for simpler use cases, like just reporting read length, and people don't fill it,

[2020-03-02 08:57] #64 closed

[2020-03-02 08:57] #65 closed

[2020-03-02 08:58] #73 closed

[2020-03-02 08:58] #80 closed

[2020-03-02 08:59] #72 closed

[2020-03-02 08:59] #59 closed

[2020-03-02 08:59] #58 closed

[2020-03-02 08:59] #36 closed

[2020-03-03 15:15] zxenia commented on #61
Hi all,
as a part of our outreach plan, I suggest adding the IHEC Data portal to [re3data.org](https://www.re3data.org/) - Registry of Research Data repositories. This will add to the portal discoverability.
It is a very straightforward procedure - we need to collect the metadata about the portal itself and submit it in the form on the registry website. Let me know what you think, I can prepare th

[2020-03-04 17:06] dbujold commented on #61
Hi Ksenia, I think it's a good idea that looks quick to implement.

Thanks,

David

On 2020-03-03 10:15 a.m., Ksenia Zaytseva wrote:

Hi all,
as a part of our outreach plan, I suggest adding the IHEC Data portal to re3data.org<https://www.re3data.org/> - Registry of Research Data repositories. This will add to the portal discoverability.
It is a very straightforward procedure - we need to collect

[2020-03-09 19:10] romgrk opened #84 "Arrays of length 1"
Hey,

I was wondering why it was decided to use arrays of length 1 instead of simply the item itself? This is not optimal at all for JSON.

ping @sitag @dzerbino

[2020-03-09 21:29] sitag commented on #84
@romgrk it allows us to use a single parser for all schema versions. so it's optimal in that sense.

[2020-03-09 21:57] romgrk commented on #84
What's the issue with the parser exactly? Is there another way to solve it?

[2020-03-09 22:04] sitag commented on #84
like i said, there's no way to solve it without writing different parsers for each version, and conceivably more for future versions.

i don't follow what the issue is here? we are not counting bytes in intermediate jsons - that would be a *very* premature optimization.

[2020-03-09 22:19] romgrk commented on #84
We're using a thing that parse JSON schemas and turns them into UI forms. Having those elements as array of strings adds complexity to the generated form.

It also adds unnecessary complexity to the schema. Every human that will read it will wonder why it needs to be in an array if it's a single item.

[2020-03-09 22:35] sitag commented on #84
there are multiple ways to extract xml to json which is what we validate. xml allows repeat values for attributes, so we need to account for that in json. it's also free what is required to be unique for each each version. so there's no way around using arrays - unless we track what is unique at parsing stage.

us writing different parsers and maintaining them is way more work than you writing a p

[2020-03-10 09:17] ilsley opened #86 "Properties conditional on biomaterial_type are not being validated"
The validator converts the BIOMATERIAL_TYPE attribute in the Sample XML file to a JSON array. However, the Sample JSON schema uses conditional validation that assumes the biomaterial_type is a string. This means that the properties specific to each biomaterial_type are not being validated. The following, for example, are not currently being validated nor checked whether they are present:
- 	"line"

[2020-03-10 09:53] ilsley opened #87 "Minor discrepancies between Metadata spec (v 1.0) and the JSON schema"
Here are few apparent discrepancies:

- The Metadata spec requires DIFFERENTIATION_METHOD for Cell Line. This is not required in the JSON spec.
- Metadata spec has DONOR_HEALTH_STATUS_ONTOLOGY_URI as a required property. The JSON spec (v 1.0) apparently has a misspelling: _donor_health_status_uri_ instead of _donor_health_status_ontology_uri_.
- sample_ontology_curie and disease_ontology_curie are

[2020-03-10 20:41] romgrk opened #89 "Version 1.1 should be 2.0"
Hey,

So I was reading the spec and I was wondering why it was incremented to 1.1 from 1.0? If I read #81 correctly and I understand what a breaking change means, it should have been incremented to 2.0. Am I reading things wrong?

Also instead of coming up with a custom versionning scheme wouldn't it be nice to use the more standard [semver](https://semver.org/)?

Thanks,

[2020-03-10 21:07] sitag commented on #89
@romgrk short answer:consortium decision. @dbujold is your best source for everything that isn't really an operational technical issue.

[2020-03-10 21:16] dbujold commented on #89
Hi Sita, sorry for jumping in the conversation that late, could you provide a link to the thread on the string to 1-element-array decision? Thank you,

David

[2020-03-10 21:24] sitag commented on #89
@dbujold It's the email thread titled "prevalidation." You are on it. Recall the behavior without arrays is actually incorrect because we drop everything after the first element when things are not arrays (this actually goes back years); so there's no going back here.) Also, from call either in feb or jan, semantic versioning was not opted into.

[2020-03-10 21:34] romgrk commented on #89
@sitag but semver or not, labeling what is called version 1.1 as 1.1 is wrong according to the versioning scheme that is described in this spec. Isn't it?

My point is just that in my understanding, the version for that one should be 2.0.

[2020-03-10 21:38] sitag commented on #89
@romgrk I was involved with neither.

[2020-03-10 21:42] sitag commented on #89
@romgrk what broke?

[2020-03-11 16:07] romgrk commented on #89
Using the new schema with old datahubs obviously won't work because of the length-1 arrays.

[2020-03-11 17:04] romgrk commented on #84
I've been talking with @dbujold and we where wondering if it was possible to have more details on this issue. When you say writing different parsers, you mean writing different parsers for the XML and JSON versions? Could you point us to specific places in the code where this is problematic for you?
And when you refer to the parse, you mean [this](https://github.com/IHEC/ihec-ecosystems/tree/maste

[2020-03-11 18:13] sitag commented on #89
@romgrk The json schema is not the spec. It's the *implementation* of the spec. It's also not a complete implementation.

[2020-03-11 18:37] sitag commented on #84
@dbujold Not sure why we are still on this. The original implementation has ambiguity about what happens when we encounter repeated values. We cannot go back to having that ambiguity. Also, you were on the thread where this reason was discussed. The markdown generation code is now hooked into using arrays for each attribute. Reverting undoes a lot.

The simplest solution is to write a pre-processo

[2020-03-12 01:31] #86 closed

[2020-03-12 01:31] #87 closed

[2020-03-12 07:27] dzerbino commented on #89
Hello @romgrk ,

To answer your original question, what basically happened is that we named the version 1.1 before all the changes were in. In hindsight, 2.0 might be more appropriate. As Sita says earlier, it is still work in progress.

In our now SOP (i.e. for next time) we will call the new spec dev until it is adopted:
https://github.com/IHEC/ihec-ecosystems/blob/master/SOP/Schema_updates.md

[2020-03-12 15:43] sitag commented on #89
@dzerbino I think this is little subtle. @romgrk wants the spec to be called 2.0 because adding `array`ed elements make the jsonschema incompatible with what it was before. Adding the `array` type instead of simple type has no bearing on what is the *spec*.  The spec describe the metadata that must be present, the jsonschema is how it must be structured. Changes to jsonschema are *not* changes to

[2020-03-20 05:38] juettemann opened #92 "Validator JSON output"
Here is the JSON output that I am currently expecting from the validator.

[code]

[2020-03-20 06:34] sitag commented on #92
@juettemann for what xml?

[2020-03-20 06:49] sitag commented on #92
@juettemann see https://github.com/IHEC/ihec-ecosystems/blob/feb2020/version_metadata/ihec_validator_base.py#L34-L47 and https://github.com/IHEC/ihec-ecosystems/blob/feb2020/version_metadata/ihec_validator_base.py#L14-L20 . We only track the latest schema the xml validates against.

We can track all schemas and not just latest, but if there are multiple valid ones, which one do we put in the xml w

[2020-03-20 07:04] sitag commented on #92
head of feb2020 now runs all but only keeps first.

[code]

[2020-03-20 10:25] juettemann commented on #92
@sitag I saved this output from an old run, it was meant to be conceptual, showing one successful and one failed run. I'll do more test with incomplete files and add them to the examples.
I agree that we should only keep the latest version.

[2020-03-20 18:08] sitag commented on #92
@juettemann but that output is not correct. if 1.1 fails then 1.0 will be tested as well, so if you have fails you have all the versions. i am not sure what is the expected outcome from this issue? is there a change you want?

[2020-03-23 01:51] juettemann commented on #92
@sitag OK, I misunderstood/misread.
It all sounds good to me. I agree to only keep the highest successful version.
Your example above still shows both Following your description, I would expect something like this:

Successful run 1.1, 1.0 skipped:
[code]
Successful 1.0, failed 1.1:
[code]
Failed 1.0, failed 1.1
[code]

[2020-03-24 04:27] sitag commented on #92
the head of `feb2020` now adjust for @zxenia 's fixes and reverts to only checking till first pass. @juettemann if you can provide separate xmls with these cases then we can hook that into the testbench.

[2020-03-27 02:27] juettemann commented on #92
XMLs are in a separate PR:
https://github.com/IHEC/ihec-ecosystems/pull/96
I am not married to any of the ideas, happy to discuss changes.

[2020-03-27 02:40] juettemann commented on #92
Current output (I removed the 1.1 one)
[code]

1. Can we remove __total_errors__:4
2. Can we remove the dash-line, and also "#__validation_error_in__: ENCBS188BKX \n\n#"
3. Can  donor_age go into prevalidation?

To get something like this:

[code]

[2020-04-06 13:26] sitag commented on #92
@juettemann head of feb2020 will give errors like below. can you check that this is correct and what you want?

[code]

[2020-04-07 13:07] #84 closed

[2020-04-07 13:40] dzerbino commented on #47
PR #48 now pulled in.

[2020-04-07 13:40] #47 closed

[2020-04-07 13:41] dzerbino commented on #89
As discussed today by phone, we will update the version number from 1.1 to 2.0.

[2020-04-21 00:54] juettemann opened #100 "Validator Experiment errors improvements"
--- experiment-no_EXPERIMENT_ONTOLOGY_CURIE.xml
Align to other error messages by removing 'missing' array
[code]

New (alternatively " is a required property" can be attached to be aligned to the json schema output):
[code]

-- experiment-no_EXPERIMENT_TYPE__EXPERIMENT_ONTOLOGY_URI.xml
Return array for 1.0. If possible, remove underscores.
[code]

-- experiment-no_LIBRARY_STRATEGY.xml
Assertion er

[2020-04-21 01:56] juettemann commented on #92
The above looks good, thanks.

A few more small issues:

-- sample-Cell_Line-BIOMATERIAL_TYPE_only.xml
Remove additional  array
[code]
New (alternatively attach  ' _is a required property_' to be aligned to the jsonschema output)
[code]
-- sample-Cell_Line-pass_prevalidation.xml
Can the leading ": " be removed?

[code]

New
[code]

[2020-04-23 00:56] sitag commented on #92
@juettemann

I have added the following function:

https://github.com/IHEC/ihec-ecosystems/blob/96042eaed0f3f54d1b3455d8dbd28d0b983a815f/version_metadata/io_adaptor.py#L16

The input to it right now is the current error log json. You can change the json however you like in that function and that is the output it will write.

Can you do whatever you need inside that function?

btw what are we doing

[2020-04-23 01:01] sitag commented on #100
@juettemann this is addressed by the same function as the other #92 . are you not using the json output and instead parsing this in shell with grep/awk?

[2020-04-23 01:23] sitag commented on #100
@juettemann That doesn't pass because the prevalidation demanded everything (it was written before we required only a few). What all do you want to check in prevalidation (as in where do you want to pull those from the experiment schema) ?

[2020-04-23 08:05] juettemann commented on #92
@sitag
There are basically only 2 things I am asking for

1. Consistent output.
At the moment "errors" is sometimes a string, sometimes an array, and sometimes an array of arrays.
"errors" should always be an array with each element being one error, like this one:
[code]
I am not fussed about the single quotes or "is a required property".

2. Assertion error.
Unless there is a syntax mistake (e.g.

[2020-04-23 08:09] juettemann commented on #100
@sitag I am using the json output in the script, but the testing was done manually. With regards what should go into the pre-validation, I leave that ultimately up to you, see my comment in  #92 . Consistent output and avoidance of assertion errors are main main concerns.

[2020-04-23 10:21] sitag commented on #92
@juettemann can you provide examples where errors is not an array.

Like I said, the json that goes into the file passes through that function. You don't need to know anything about the code base. Just what you get into that function and change it into whatever you want to send out. Most of the changes to want are find and replaces, we can avoid a week long lag here each time.

[2020-04-24 10:13] sitag commented on #92
@juettemann I am not sure what you mean

Errors are always a list of 2-tuples: the first entry is what kind of error (prevalidation, missing attributes, semantic error etc), the second item if list of strings describing each error. Tuples in json get mapped to lists.

[2020-05-01 03:11] sitag commented on #92
@juettemann Cannot move forward till you respond. Please in future provide context and complete details with you request.

[2020-05-01 03:57] juettemann commented on #92
@sitag

I tried 2 ways to explain what the issues are.

1. Detailed issues for the different tests:
https://github.com/IHEC/ihec-ecosystems/issues/92#issuecomment-616903771

2. More General, showing what should always been the format, no matter if it comes from prevalidation or jsonschema, Experiment or Sample:
https://github.com/IHEC/ihec-ecosystems/issues/92#issuecomment-618248280

Please note t

[2020-05-01 05:01] sitag commented on #92
@juettemann

You original comments are unclear, which is why I have asked you to clarify - which you still haven't done. I am struggling to understand your comment: https://github.com/IHEC/ihec-ecosystems/issues/92#issuecomment-618248280

What is inconsistent? Give example, please. When I look at the code, it's always (aka consistently ) a list of tuples. But maybe I missed something.

In your cla

[2020-05-01 05:03] sitag commented on #92
This is not going to happen. One error is prevalidator, one is validator.

[2020-05-04 01:27] sitag commented on #92
@juettemann changes pushed to head of feb2020

[2020-05-04 02:29] sitag commented on #100
@juettemann @dzerbino I am trying to figure out what the new required fields for 1.1 experiment, but https://github.com/IHEC/ihec-ecosystems/blob/master/schemas/json/1.1/experiment.json still has only 3 required fields and https://github.com/IHEC/ihec-ecosystems/blob/master/docs/metadata/1.1/Ihec_metadata_specification.md hasn't been updated in a long time. Not sure where the 1.1 spec is.

Can't f

[2020-05-05 04:07] juettemann commented on #100
@dzerbino
As far as I can see, these are the requirements for 1.1 (aka 2.0):

LIBRARY_STRATEGY
EXPERIMENT_TYPE
EXPERIMENT_ONTOLOGY_CURIE
MOLECULE
MOLECULE_ONTOLOGY_CURIE

ChIP-Seq:
EXPERIMENT_TARGET_TF
EXPERIMENT_TARGET_HISTONE

Removed:
EXPERIMENT_ONTOLOGY_URI
MOLECULE_ONTOLOGY_URI

Could you confirm / deny?

[2020-05-05 08:55] dzerbino commented on #100
Hello everyone,

I don't think we're all on the same page. The required attributes for 1.1 (soon to be 2.0) are still lingering on a pull request: https://github.com/IHEC/ihec-ecosystems/pull/97

However, Sita did rightly point out that I had not updated the Markdown spec on my PR, which I have just corrected.

Cheers,

Daniel

[2020-05-06 04:54] juettemann opened #101 "Assertion Error with missing EXPERIMENT_TYPE or BIOMATERIAL_TYPE"
Missing EXPERIMENT_TYPE or BIOMATERIAL_TYPE results in an assertion error.
 Can this be caught in the prevalidation?

If possible, an assertion error should only happen if there is a syntax mistake (e.g. missing closing tag) in the XML. Further, I could not see a way to identify the erroneous record in case the XML contains multiple records.

Test files
- examples/experiment-no_EXPERIMENT_TYPE.xml

[2020-05-06 04:58] juettemann commented on #92
The error messages for the JSON look good, closing.

[2020-05-06 04:58] #92 closed

[2020-05-06 05:00] juettemann commented on #100
Closing this issue. Error messages look good now, and discussions regarding the version can be done at the PRs.

[2020-05-07 14:32] sitag commented on #100
@juettemann You can't close this yet as prevalidation for experiment-version_2.0_complete.xml is still open

[2020-05-07 22:41] juettemann commented on #100
@sitag Good point & catch. Do you want to keep it here, or shall I open a dedicated issue?

[2020-05-10 04:59] sitag commented on #101
@juettemann those xmls are not in your branch.
i have fixed this in feb2020, with these xmls:

    python -m version_metadata -overwrite-outfile -out:./delete_me -experiment version_metadata/examples/experiment.one_invalid_missing_type.xml

and

    python -m version_metadata -overwrite-outfile -out:./delete_me -sample version_metadata/examples/sample-Primary_Tissue-missing_biomaterial.xml

[code]

[2020-05-10 05:11] sitag commented on #100
fixed for the xml in question. prevalidation will only check 5 core attributes required for all experiments, the two chip will be delegated to json schema

    python -m version_metadata -overwrite-outfile -out:./delete_me -experiment version_metadata/examples/experiment-version_2.0_complete.xml

[code]

[2020-05-11 04:05] juettemann commented on #101
@sitag The branches have been merged with master 5 days ago, all tests should be there.
This looks great and is working. I am closing it, if something else arises I'll open a new issue.

[2020-05-11 04:05] #101 closed

[2020-05-11 04:07] juettemann commented on #100
Perfect. Unless there is anything else, can you close this issue @sitag?

[2020-05-11 04:07] #100 closed

[2020-05-11 15:28] #89 closed

[2020-07-07 13:52] dzerbino commented on #50
What info can be dropped from the Portal JSON (assuming the portal can read it from EpiRR)?

`
{
   "datasets": {
        "experiment_1": {
            "experiment_attributes" // convert to ID
        },
        "experiment_2": {
            ...
        },
    }
    "samples": { ... }
}
`

What info needs to be retained:
`
{
    "hub_description": { ... },
    "datasets": {
        "experiment_1":

[2020-07-07 13:56] sitag commented on #50
@dzerbino They use the same schemas, so everything can be dropped as long as we keep the identifiers.

[2020-07-07 14:57] dbujold commented on #50
Basically, what's needed is a way to link sample and experiment metadata, that would be obtained from EpiRR, to processed data (bigwigs, bigbeds) and data processing metadata (analysis_attributes), that would be provided to the IHEC Data Portal.

[2020-07-21 12:13] juettemann opened #104 "Update of IHEC Metadata Specification"
The specification page has not been updated in a while and does not reflect recent developments. It also still has the ambiguity with regard to the Molecule. Version 2.0 is missing completly.

https://github.com/IHEC/ihec-metadata/blob/master/specs/Ihec_metadata_specification.md

[2020-07-22 05:09] dzerbino commented on #104
Hello @juettemann ,

I believe you got confused by the old repo, ihec-metadata, which is basically deprecated.

This repo is much more up-to-date: https://github.com/IHEC/ihec-ecosystems/tree/master/docs/metadata

Cheers,

Daniel

[2020-07-22 09:40] juettemann commented on #104
Thanks @dzerbino, I indeed forgot about  the v2.0 document.

If one starts at landing page
https://github.com/IHEC/ihec-ecosystems
and follows the link in the Metadata section, only v1.0 is visible:
https://github.com/IHEC/ihec-ecosystems/blob/master/docs/metadata/1.0/Ihec_metadata_specification.md
No link to v2.0.
I will update the landing page and also link the v1.0/v2.0 documents to each other,

[2020-07-22 17:03] dzerbino commented on #104
1. You're right, please update the URL
2. Let's leave the date at present, it won't come back for a while ;)
3. I have no idea about the variety of XML formats. Maybe @sitag knows something about this?

[2020-07-30 07:58] sitag commented on #104
@dzerbino @juettemann EGA maintains a ftp with SRA xmls, I think the ftp links for xsd here: https://www.ebi.ac.uk/ena/submit/read-xml-format-1-4 I think there may be slightly differences from SRA.

[2020-10-31 02:18] sitag commented on #82
@juettemann @dzerbino added here https://github.com/IHEC/ihec-ecosystems/blob/ec7f44958cc23b16227ef6ca4cb5b695a3c13083/version_metadata/exp_semantic_rules.py#L6-L35

[2020-11-03 14:17] sitag commented on #82
We have gone forward with this spec: http://fulcrumgenomics.github.io/fgbio/tools/latest/ExtractUmisFromBam.html

[2020-11-03 14:45] dzerbino opened #113 "MarkDown legibility"
We should simplify the MarkDown spec and ideally create a Jekyll page in time for the integrative analysis publication.

[2020-11-03 14:59] sitag commented on #113
we are pretty close to autogenerating markdown. i second setting up the github pages repo.

[2020-11-03 15:27] dzerbino commented on #113
That's great! Thanks for the update.

[2021-02-26 10:44] dzerbino commented on #82
PR pulled in

[2021-02-26 10:44] #82 closed

[2021-03-02 12:07] sitag commented on #113
@dzerbino unfortunately I haven't worked on this in a while. i will pick this up again.

[2021-03-15 14:44] quirinmanz opened #119 "NOMe-seq experiments"
Hi,

I am trying to run the validator on NOMe-Seq experiment metadata files from the DEEP project and it fails.
I saw some related posts (#25 #26) but unfortunately, they did not help.

A minimal example XML file `NOME_example.xml` could look like this:
`<EXPERIMENT_SET>
   <EXPERIMENT accession="NOME_test" center_name="NOME_test">
        <TITLE />
        <STUDY_REF accession="NOME_test" refcent

[2021-03-19 11:26] quirinmanz opened #120 "Adding BIOLOGICAL_REPLICATES to the Specification File"
Hi,

Since BIOLOGICAL_REPLICATES has become a mandatory field in v2 of the validator, it would be very much appreciated if some descriptions were added to the specification file.
In the file `schemas/json/2.0/sample.json` the description says "List of biological replicate sample accessions", but in the example files e.g. `version_metadata/examples/sample-Cell_Line-pass_all.xml` there is merely a "

[2021-03-20 15:42] sitag commented on #119
@quirinmanz updated https://github.com/IHEC/ihec-ecosystems/blob/master/version_metadata/egautils.py#L33 to return lowercase. It should find other in the schema now: https://github.com/IHEC/ihec-ecosystems/blob/master/schemas/json/2.0/experiment.json#L206

once we have attributes that we require for nome-seq, we can give nome-seq it's own branch in the schema; right now there isn't anything to che

[2021-03-20 15:49] sitag commented on #120
@quirinmanz thanks for bringing this up. indeed this should be sorted out.
@juettemann this would need to get fleshed out? perhaps we need to add semantic checks for this attribute

[2021-03-20 16:49] quirinmanz commented on #119
Thank you very much!

I can now successfully validate a NOMe-Seq experiment using `<LIBRARY_STRATEGY>NOMe-Seq</LIBRARY_STRATEGY>` and `<TAG>EXPERIMENT_TYPE</TAG><VALUE>Other</VALUE>`.

Still, I am not sure what EXPERIMENT_ONTOLOGY_CURIE to use since NOMe-seq does not seem to be included in the Ontology for Biomedical Investigations but only in [Experimental Factor Ontology](https://www.ebi.ac.uk/o

[2021-03-21 03:41] sitag commented on #119
@quirinmanz  Since there's no spec for NOMe-Seq yet, no matter what you submit, it will not validate against the latest spec (when the NOMEe-seq spec lands it will be 3.0 likely, so your current metadata won't validate against 3.0, but you will still get 2.0 validated as you have now). In the interest of being precise, I recommend that you use the EFO ontology for now. We will need to figure out h

[2021-10-05 13:00] sitag commented on #113
some issues with spec 2.2 have come up, fixing.

[2021-11-02 08:42] #119 closed

[2022-02-25 18:58] #113 closed

[2022-02-25 18:59] #35 closed

[2022-02-25 18:59] #61 closed